doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Desafio Motores de Plantillas - PUG
    body
        div 
            h1 Productos 
            ul
                each prod in products
                    li= prod.product + ", " + prod.price 
                    img(src= prod.url, alt="img") 
                else 
                    p No hay productos guardados
            a(href='/')
                button Volver